/* Two Columns CSS (idk if this will be needed in future, but is for now) */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 25%;
  height: 100%;
}

.right {
  width: 75%;
}

.Columns:after{
  content: "";
  display: table;
  clear: both;
}

/* OG Website CSS (Most important prolly "nav" and "section" */
body {
  font-family: Arial, sans-serif;
  background-color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: left;
}

nav {
  background-color: #f4f4f4;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  /* display: inline; */
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

section {
  padding: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Dropdown Menu CSS */
.dropbtn {
  background-color: #34db74;
  color: #000000;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #29b965;
}

.dropdown {
  position: relative;
  padding: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
  background-color: #b5b0b0;
}

.show {
  display: block;
}

/* Second Dropdown Menu */
.menu {
  padding: 0px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu ul li {
  background-color: #333;
  margin: 2px;
  padding: 15px;
}
.menu ul li:hover {
  background-color: #797f7c;
}
.menu ul li a {
  text-decoration: none;
  color: #f4f4f4;
  padding: 2px;
}
.sub-menu-1 {
  display: none;
  position: absolute;
  background-color: #29b965;
}
/* Should Work but needs debugging (for some reason) */
.menu ul li:hover .sub-menu-1 {
  display: block;
}